extends ../layouts/common
block content
    h2 Products List :
    .row.justify-content-end
        .col-md-3
            form(action='#', method='Get', class='d-flex')
                input(type= 'text', name= 'q', class="form-control",placeholder="Enter Name")
                button(class="btn btn-outline-info ml-2") Search
    .row.products
        each product in products
            //- .col-md-3.mb-3.mr-3.mt-3.rounded.content
            //- 	img(src=product.image)
            //- 	h5.ml-4.mt-3=product.name
            //- 	div.ml-4.mt-3=product.description
            //- 	button.btn.btn.btn-primary.ml-4.mt-3.mb-3 Add to dog
            .card(style='width: 17rem;').mr-2.mb-4
                img.card-img-top(src=product.image, alt='...')
                .card-body
                    h5.card-title=product.name
                    p.card-text=product.description
                    a.btn.btn-primary(href='/dog/add/' +product.id) Add to dog
    .row.justify-content-center
        .col-md-4
            nav(aria-label='Page navigation example')
                ul.pagination
                    li.page-item
                        a.page-link(href='/products/?page='  +previous, aria-label='Previous')
                            span(aria-hidden='true') Previous
                            ul
                            while n < pageNumber
                                li
                                    a.page-link(href='/products/?page=' +n)= n++
                        a.page-link(href='/products/?page=' +next, aria-label='Next')
                            span(aria-hidden='true') Next
